<h1>Here are the last rat sightings in your zip code</h1>
<h2><%= link_to 'Back' %></h2>

<ul>
  <% if @rat_sightings.class.name == "String" %>
    <%= @rat_sightings %>
  <% else %>
    <% @rat_sightings.each do |rat_sighting| %>
      <li><%= rat_sighting.address %>, <%= rat_sighting.created_date %></li>
    <% end %>
  <% end %>
</ul>

<p>
<div class="bubble-chart"></div>
<script src="ratBubbles.js"></script>
</p>