<h1>Where are you looking for rats?</h1>

<%= form_tag(rat_sightings_path) do %>
  <%= label_tag 'rat_sightings[address]', 'Address' %>
  <%= text_field_tag 'rat_sightings[address]' %>

  <%= submit_tag 'Submit your address' %>
<% end %>


<div id="map-canvas"> map</div>


    <script>
    $(window).load(function(){
    

    

     var map = new google.maps.Map(d3.select("#map-canvas").node(), {
              zoom: 11,
              center: new google.maps.LatLng(40.7199792,-73.9725163),
              mapTypeId: google.maps.MapTypeId.ROADMAP
      });

    

        function mapGenerator(){

           // d3.json("rats.json", function(data) {
           var rats = [[40.86340536596922,-73.926468132109,"07/29/2014 01:21:39 AM","Other (Explain Below)",10040,"SHERMAN AVENUE"],[40.64513070012115,-73.94896382125883,"07/28/2014 11:47:01 PM","3+ Family Apt. Building",11226,null],[40.677172970087966,-73.90858969150264,"07/28/2014 11:24:41 PM","Catch Basin/Sewer",11233,"1360 HERKIMER STREET"],[40.67719201717982,-73.90838056260168,"07/28/2014 11:22:32 PM","3+ Family Apt. Building",11233,"1366 HERKIMER STREET"],[40.664271427215475,-73.93059495473237,"07/28/2014 11:18:34 PM","3+ Family Apt. Building",11213,"1024 MONTGOMERY STREET"],[40.813190521929684,-73.9003937678218,"07/28/2014 10:54:56 PM","Other (Explain Below)",10455,"SOUTHERN BOULEVARD"],[40.81250914937237,-73.9028115841396,"07/28/2014 10:48:01 PM","Other (Explain Below)",10455,"SOUTHERN BOULEVARD"],[40.678599377523255,-73.98139307392366,"07/28/2014 10:46:51 PM","1-2 Family Dwelling",11217,"651 DEGRAW STREET"],[40.64183357308641,-73.92735729838603,"07/28/2014 10:25:08 PM","1-2 Family Dwelling",11203,"743 EAST 52 STREET"],[40.691312189005146,-73.93893990019397,"07/28/2014 10:22:06 PM","1-2 Family Dwelling",11221,"835 LAFAYETTE AVENUE"],[40.69247322163407,-73.91328181833155,"07/28/2014 09:25:03 PM","Other (Explain Below)",11221,"CORNELIA STREET"],[40.82136337525137,-73.9563401520678,"07/28/2014 09:05:41 PM","3+ Family Apt. Building",10031,"636 WEST 136TH STREET"],[40.85024602034582,-73.8962682378881,"07/28/2014 08:48:43 PM","3+ Family Apt. Building",10457,"2041 WASHINGTON AVENUE"],[40.6273680462935,-74.14108943672483,"07/28/2014 08:29:40 PM","1-2 Family Dwelling",10302,"50 SEYMOUR AVENUE"],[40.689179712242144,-73.95084121569872,"07/28/2014 08:24:26 PM","3+ Family Apt. Building",11216,"340 CLIFTON PLACE"],[40.85024602034582,-73.8962682378881,"07/28/2014 08:23:43 PM","3+ Family Apt. Building",10457,"2041 WASHINGTON AVENUE"],[40.67686042029658,-73.90903716502805,"07/28/2014 08:13:21 PM","Other (Explain Below)",11233,"MONACO PLACE"],[40.67686042029658,-73.90903716502805,"07/28/2014 08:06:16 PM","Other (Explain Below)",11233,"MONACO PLACE"],[40.68605668392804,-73.95207666691044,"07/28/2014 07:54:16 PM","3+ Family Mixed Use Building",11216,"381 GATES AVENUE"],[40.74511737297606,-73.99598690949507,"07/28/2014 07:21:53 PM","3+ Family Apt. Building",10011,"221 WEST 24 STREET"],[40.670461273971725,-73.88081625391845,"07/28/2014 06:31:07 PM","1-2 Family Dwelling",11208,"545 ESSEX STREET"],[40.87661966655785,-73.87403186864564,"07/28/2014 06:25:46 PM","3+ Family Mixed Use Building",10467,"345 EAST 209 STREET"],[40.73509935689471,-73.8579788213209,"07/28/2014 06:15:20 PM","3+ Family Apt. Building",11374,"99-44 62 AVENUE"],[40.73901945295405,-73.70495963715143,"07/28/2014 05:59:26 PM","1-2 Family Dwelling",11004,"83-51 264 STREET"],[40.67368280509191,-73.97757311482799,"07/28/2014 05:43:09 PM","Other (Explain Below)",11215,"CARROLL STREET"],[40.62876013494832,-74.0808820369696,"07/28/2014 05:23:34 PM","1-2 Family Dwelling",10304,"170 WRIGHT STREET"],[40.74814173315472,-73.87641858903143,"07/28/2014 04:55:19 PM","Other (Explain Below)",11373,null],[40.66537688669921,-73.95051271829647,"07/28/2014 04:52:19 PM","School/Pre-School",11225,null],[40.83378011283735,-73.90879371858894,"07/28/2014 04:17:04 PM","3+ Family Apt. Building",10456,"1273 WEBSTER AVENUE"],[40.698493698509424,-73.93608428945163,"07/28/2014 04:16:46 PM","3+ Family Apt. Building",11206,"27 ARION PLACE"],[40.84220908371895,-73.91228428654,"07/28/2014 04:12:39 PM","3+ Family Apt. Building",10452,"1555 GRAND CONCOURSE"],[40.77850055071244,-73.91874471452377,"07/28/2014 04:12:30 PM","3+ Family Apt. Building",11105,"21-06 23 AVENUE"],[40.68562571224436,-73.83975291484545,"07/28/2014 03:58:00 PM","1-2 Family Dwelling",11416,"101-52 103 STREET"],[40.67755385679634,-73.91128228377511,"07/28/2014 03:44:00 PM","Other (Explain Below)",11233,"1275 HERKIMER STREET"],[40.70353251523862,-73.91050834878784,"07/28/2014 03:05:19 PM","3+ Family Apt. Building",11385,"1746 GROVE STREET"],[40.64981751491701,-73.95238739278655,"07/28/2014 02:37:24 PM","3+ Family Apt. Building",11226,"854 ROGERS AVENUE"],[40.8818379189876,-73.86252570081376,"07/28/2014 02:16:45 PM","Vacant Building",10467,"729 EAST 217 STREET"],[40.87086268544497,-73.89161879975957,"07/28/2014 02:06:44 PM","3+ Family Apt. Building",10468,"2850 CRESTON AVENUE"],[40.7339257278844,-73.95298761086839,"07/28/2014 01:26:53 PM","3+ Family Apt. Building",11222,"211 GREEN STREET"],[40.71487829824567,-74.0063451651516,"07/28/2014 12:45:21 PM","3+ Family Apt. Building",10007,"57 READE STREET"],[40.55174654309778,-74.15141205458247,"07/28/2014 12:27:34 PM","1-2 Family Dwelling",10308,"30 BALTIMORE STREET"],[40.69214792424455,-73.93153956480919,"07/28/2014 12:08:46 PM","1-2 Family Dwelling",11221,"1020 LAFAYETTE AVENUE"],[40.841094255624334,-73.88110688616136,"07/28/2014 11:41:29 AM","Other (Explain Below)",10460,"1 WEST FARM SQUARE"],[40.57854727352201,-73.98866033416073,"07/28/2014 11:29:32 AM","Commercial Building",11224,"2114 NEPTUNE AVENUE"],[40.82244159697953,-73.9019877455078,"07/28/2014 11:28:45 AM","Other (Explain Below)",10459,null],[40.74788617915289,-73.89254789624688,"07/28/2014 11:08:49 AM","3+ Family Mixed Use Building",11372,"37-38 73 STREET"],[40.67788526467734,-73.87504538670593,"07/28/2014 10:58:40 AM","1-2 Family Dwelling",11208,"35 CRYSTAL STREET"],[40.855680083007684,-73.88985778163767,"07/28/2014 10:52:08 AM","3+ Family Apt. Building",10458,"2366 LORILLARD PLACE"],[40.7548300297533,-73.97033417197326,"07/28/2014 10:45:05 AM","3+ Family Apt. Building",10017,"235 EAST 49 STREET"],[40.828926973708015,-73.9153587679614,"07/28/2014 10:43:25 AM","Other (Explain Below)",10456,"302 EAST 165 STREET"],[40.6814851612991,-73.85307781454546,"07/28/2014 10:36:47 AM","Other (Explain Below)",11416,"86-03 102 AVENUE"],[40.82625620256874,-73.92295731454749,"07/28/2014 10:32:40 AM","3+ Family Apt. Building",10451,"860 GRAND CONCOURSE"],[40.765662112621555,-73.78822952894373,"07/28/2014 10:31:57 AM","Other (Explain Below)",11358,"34-33 JORDAN STREET"],[40.78397809059995,-73.97773095881398,"07/28/2014 10:18:24 AM","3+ Family Apt. Building",10024,"420 AMSTERDAM AVENUE"],[40.85408536600084,-73.8842068599034,"07/28/2014 10:18:16 AM","3+ Family Apt. Building",10458,"707 EAST 187 STREET"],[40.677317321271595,-73.89150071414478,"07/28/2014 09:43:21 AM","3+ Family Apt. Building",11207,"124 VAN SICLEN AVENUE"],[40.64639066365803,-73.92854871732933,"07/28/2014 09:17:40 AM","Day Care/Nursery",11203,"5116 BEVERLEY ROAD"],[40.67569388152268,-73.77932208192853,"07/28/2014 09:09:35 AM","1-2 Family Dwelling",11434,null],[40.688309901325425,-73.95852585984625,"07/28/2014 09:04:31 AM","Other (Explain Below)",11238,"137 CLIFTON PLACE"],[40.664383477781705,-73.9509820438023,"07/28/2014 08:51:58 AM","Single Room Occupancy (SRO)",11225,"987 NOSTRAND AVENUE"],[40.808626065509536,-73.92177120060528,"07/28/2014 08:37:12 AM","3+ Family Apt. Building",10454,"430 EAST 138 STREET"],[40.69940612083364,-73.93820759656067,"07/28/2014 08:08:44 AM","3+ Family Apt. Building",11206,"18 PARK STREET"],[40.87124807693594,-73.89283306109618,"07/28/2014 07:58:03 AM","3+ Family Mixed Use Building",10468,"10 EAST 198 STREET"],[40.68486946258969,-73.94282546239904,"07/28/2014 07:37:39 AM","1-2 Family Dwelling",11221,"457 PUTNAM AVENUE"],[40.80390526615084,-73.96794277439365,"07/28/2014 07:21:11 AM","Other (Explain Below)",10025,"WEST 109 STREET"],[40.724899648716345,-73.97513504560528,"07/28/2014 05:28:43 AM","Other (Explain Below)",10009,"142 AVENUE D"],[40.79943120771864,-73.96739231760297,"07/28/2014 03:35:48 AM","3+ Family Mixed Use Building",10025,"218 WEST 104 STREET"],[40.634176758758535,-73.9649726561258,"07/28/2014 02:18:09 AM","3+ Family Mixed Use Building",11230,"611 ARGYLE ROAD"],[40.67125682054075,-73.95907719873799,"07/28/2014 12:53:35 AM","Vacant Building",11238,"293 EASTERN PARKWAY"],[40.84387008556843,-73.91288206244337,"07/28/2014 12:00:00 AM","3+ Family Apt. Building",10452,"1605 WALTON AVENUE"],[40.77963476898659,-73.98865858677829,"07/27/2014 12:00:00 AM","Other (Explain Below)",10069,"400 RIVERSIDE DRIVE"],[40.701215014256086,-73.90933573434748,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",11385,"1679 PALMETTO STREET"],[40.85487633670386,-73.86925806414634,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10462,"2160 BRONX PARK E"],[40.84689003602759,-73.93989948945352,"07/27/2014 12:00:00 AM","3+ Family Mixed Use Building",10033,"350 FORT WASHINGTON AVENUE"],[40.86613523613008,-73.90272597995825,"07/27/2014 12:00:00 AM","3+ Family Mixed Use Building",10468,"2523 UNIVERSITY AVENUE"],[40.73773180005739,-73.79912937974744,"07/27/2014 12:00:00 AM","Other (Explain Below)",11365,"61-15 170 STREET"],[40.85313711937078,-73.86296095706074,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10462,"2074A MATTHEWS AVENUE"],[40.808626065509536,-73.92177120060528,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10454,"430 EAST 138 STREET"],[40.67359218585192,-73.97736044887547,"07/27/2014 12:00:00 AM","Other (Explain Below)",11215,"740 CARROLL STREET"],[40.692896481270445,-73.91403493636699,"07/27/2014 12:00:00 AM","Other (Explain Below)",11221,"PUTNAM AVENUE"],[40.67206188654242,-73.98527741962455,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",11215,"312 5 STREET"],[40.81797767318111,-73.88877490885766,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10474,"860 HUNTS POINT AVENUE"],[40.69574139026599,-73.90863275163821,"07/27/2014 12:00:00 AM","1-2 Family Dwelling",11237,"464 IRVING AVENUE"],[40.701660227369445,-73.91363412891873,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",11237,"369 MENAHAN STREET"],[40.65354064148242,-73.96313168752668,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",11226,"83 WOODRUFF AVENUE"],[40.680363311543,-73.97620803069692,"07/27/2014 12:00:00 AM","Other (Explain Below)",11217,"SAINT MARKS AVENUE"],[40.86166441278946,-73.9030723500759,"07/27/2014 12:00:00 AM","Other (Explain Below)",10468,"2401 DAVIDSON AVENUE"],[40.634176758758535,-73.9649726561258,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",11230,"611 ARGYLE ROAD"],[40.73773180005739,-73.79912937974744,"07/27/2014 12:00:00 AM","3+ Family Mixed Use Building",11365,"61-15 170 STREET"],[40.67147728935884,-73.9616509692631,"07/27/2014 12:00:00 AM","3+ Family Mixed Use Building",11238,"217 EASTERN PARKWAY"],[40.70679793442995,-73.90599543777856,"07/27/2014 12:00:00 AM","Other (Explain Below)",11385,null],[40.730318714625874,-73.87268118171941,"07/27/2014 12:00:00 AM","Other (Explain Below)",11373,"60-160- 60TH ROAD"],[40.741830910967046,-73.98433095365345,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10010,"111 EAST 26 STREET"],[40.71487829824567,-74.0063451651516,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10007,"57 READE STREET"],[40.80140973782622,-73.96594656979163,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10025,"220 WEST 107 STREET"],[40.71487829824567,-74.0063451651516,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10007,"57 READE STREET"],[40.67676783244181,-73.90997103749335,"07/27/2014 12:00:00 AM","Vacant Lot",11233,"24 PLEASANT PLACE"],[40.741830910967046,-73.98433095365345,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10010,"111 EAST 26 STREET"],[40.67686124764829,-73.72839095179162,"07/27/2014 12:00:00 AM","1-2 Family Dwelling",11422,"243-03 131 AVENUE"],[40.73677721262611,-73.98035202981409,"07/27/2014 12:00:00 AM","3+ Family Apt. Building",10010,"340 EAST 22 STREET"]];

              
              var overlay = new google.maps.OverlayView();
                
              // Add the container when the overlay is added to the map.
              overlay.onAdd = function() {
                var layer = d3.select(this.getPanes().overlayMouseTarget).append("div")
                    .attr("class", "rats");
             
                // Draw each marker as a separate SVG element.
                // We could use a single SVG, but what size would it have?
                overlay.draw = function() {
                  var projection = this.getProjection(),
                      padding = 10;
             
                  var marker = layer.selectAll("svg")
                      .data(d3.entries(rats))
                      .each(transform) // update existing markers
                    .enter().append("svg:svg")
                      .each(transform)
                      .attr("class", "marker");
             
                  // Add a circle.
                  marker.append("svg:circle")
                      .attr("r", 4.5)
                      .attr("cx", padding)
                      .attr("cy", padding);
             
                  // Add a label.
                  marker.append("svg:text")
                      .attr("x", padding + 7)
                      .attr("y", padding)
                      .attr("dy", ".31em")
                      .attr("class","rats_text")
                      .text(function(d) { return d.value[2]; })
                      .on("mouseover", function(){ return rats_text.style("visibility", "visible");})
                      .on("mouseout", function(){ return rats_text.style("visibility", "hidden");});

                  // google.maps.event.addListener(marker, "click", function(){return marker_text.style("visibility", "visible");});
                  // google.maps.event.addListener(marker, "click", function(){return marker_text.style("visibility", "hidden");});
             
                  function transform(d) {
                    d = new google.maps.LatLng(d.value[0], d.value[1]);
                    d = projection.fromLatLngToDivPixel(d);
                    
                    return d3.select(this)
                        .style("left", (d.x - padding) + "px")
                        .style("top", (d.y - padding) + "px");
                  }
                  
                };
            };
            overlay.setMap(map);
         }
         mapGenerator();

        });

     </script>