<h1>Rat Tracker</h1>

<h3>Search NYC for Rat Sightings</h3>

<%= form_tag(rat_sightings_path) do %>
  <%= label_tag 'rat_sightings[address]', 'Address' %>
  <%= text_field_tag 'rat_sightings[address]' %>

  <%= submit_tag 'Submit your address' %>
<% end %>

<h3>Here are the last rat sightings in your zip code</h3>

<div id="map-canvas">map</div>

<div id="list">
<ul>

</ul>
</div>
