<h1>Where are you looking for rats?</h1>

<%= form_tag(rat_sightings_path) do %>
  <%= label_tag 'rat_sightings[address]', 'Address' %>
  <%= text_field_tag 'rat_sightings[address]' %>

  <%= submit_tag 'Submit your address' %>
<% end %>

<div id="map-canvas"> map</div>