<!DOCTYPE html>
<html>

    <head>
     
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUakDsIssIu0GPXFQzYPWZ8Cu1np6gSYM"></script>
    <script src="../../db/rat_sightings.csv"></script>

    </head>


    <body>
        <script>
        var map = new google.maps.Map(d3.select("#map_canvas").node(), 
            {
          zoom: 12,
          center: new google.maps.LatLng(40.7199792,-73.9725163),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        d3.csv("/db/rat_sightings.csv", function(error, data) 
        {
            var overlay = new google.maps.OverlayView();
            overlay.draw = function() {
            d3.select("circle")
            .data(data)
            .enter()
                .append("circle")
                .attr("cy", function(d) 
                {
                    return [d.Longitude, d.Latitude][0];
                })
                .attr("cx", function(d) 
                {
                    return [d.longitude, d.latitude][1];
                })
                .attr("r", 5)
                .style("fill", "blue");     
        }
        overlay.setMap(map);
        overlay.onAdd = function() {
        var layer = d3.select(this.getPanes().overlayLayer).append("div")
        .attr("class", "stations");
        }
        });

        // function initialize() {
        //     var map = new google.maps.Map(document.getElementbyID("map_canvas"), {
        //         center: new google.maps.LatLng(40.7199792,-73.9725163),
        //         mapeTypeId: google.maps.MatpTypeID.ROADMAP,
        //         zoom: 12
        //     });

        //     for (var x in "/db/rat_sightings.csv"){
        //         var sighting = rat_sightings[x]
        //         var location = new google.maps.LatLng(sighting.Latitude, sighting.Longitude);
        //         addMarker(map, sighting.Created_Date, location);
        //     }
        // }

        // function addMarker(map, date, location) {
        //     var marker = new google.maps.Marker({
        //         position: location,
        //         map: map
        //     });

        //     var infowindow = new google.maps.InfoWindow({
        //         content: date
        //     });

        //     google.maps.event.addListener(marker, 'click', function(){
        //         infowindow.open(map, marker);
        //     });
        // }

        // google.maps.event.addDomListener(window, 'load', initialize);
        </script>


<div id="map_canvas"></div>

    </body>

</html>
