html, body, #map-canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
 
.rats, .rats svg {
  position: absolute;
}
 
.rats svg {
  width: 180px;
  height: 50px;
  /*padding-right: 100px;*/
  font: 14px sans-serif;
  text-shadow: 1px 1px 1px 1px #fff;
}
 
.rats circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}
.rats circle:hover {
  fill: white;
  cursor: pointer;
  opacity: 0.0; }

.rats_text {
  background-color: white;
  fill: black;
  opacity: 0.0;
  }

.rats_text:hover {
  fill: black;
  opacity: 1.0;
  text-shadow: 1px 1px 1px 1px #fff;
  cursor: pointer;
}